/* Helpers */

.vert-hor-center {
	@include center-vert-hor;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

// round a image
.img-round {
	border-radius: 50%;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

/* Margins */

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.mt-05 {
	margin-top: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-05 {
	margin-bottom: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}